* {
    margin:2px;
    padding:2px;
}

body{color: navy;
    background-color: aliceblue;

}

.expense-form{
    background-color: rgb(7, 7, 138);
    padding:.5rem;
    display:block;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-items: center;
    align-content: center;
    color: antiquewhite
}


#btn{
    margin-left : 5%;
    padding : .5rem;
    margin-top: 6px;color: white;
    background-color: black

}
#btn2{
      margin-left: 35%;
      padding : .5rem;
      margin-top: 6px;color: white;
      background-color: black
  
}



