* {
    margin:2px;
    padding:2px;
}

body{color: navy;
    background-color: aliceblue;

}

.expense-form{
    background-color: gray;
    
    display:block;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-items: center;
    align-content: center;
}


#btn{
    margin-left : 45%;
    padding : .5rem;
    margin-top: 6px;color: white;
    background-color: black

}



